<form id='myForm'>
    <input type='url' name="url">
    <input type="submit" value="Shorten">
</form>
<div id="shortcode"></div>

<br/>
<div>
<a href="<%= url('/') %>">&larr; See all</a>
</div>

<script type="text/javascript">
  $(function() {
    $('#myForm').submit(function() {
    $.post('/new', $("#myForm").serialize(), function(link){
      // var link = JSON.parse(data);
      var $url = $('<a>', {href: link.url}).append(link.id);
      var $shortcode = $('<div>').append("Your Code:/").append($url);
      $('#shortcode').append($shortcode.hide().fadeIn());
      });
    return false;
    });
  });
</script>
